In [9]:
# Pandas - Filtering Pandas Data Frame

In [10]:
import pandas as pd

In [11]:
dictionary = {"NAME":["ali","veli","kenan","hilal","ayse","evren"],
              "AGE":[15,16,17,33,45,66],
              "MAAS": [100,150,240,350,110,220]} 

dataFrame1 = pd.DataFrame(dictionary)

In [12]:
filtre1 = dataFrame1.MAAS > 200
print("filtre1 ==>\n" , filtre1)

filtre1 ==>
 0    False
1    False
2     True
3     True
4    False
5     True
Name: MAAS, dtype: bool

In [13]:
filtrelenmis_data = dataFrame1[filtre1]
print("filtrelenmis_data ==>\n" , filtrelenmis_data)

filtrelenmis_data ==>
     NAME  AGE  MAAS
2  kenan   17   240
3  hilal   33   350
5  evren   66   220

In [14]:
filtre2 = dataFrame1.AGE <20

In [15]:
dataFrame1[filtre1 & filtre2] # iki filtreyi birleÅŸtirme

    NAME  AGE  MAAS
2  kenan   17   240

In [16]:
print(dataFrame1[dataFrame1.AGE > 60])

    NAME  AGE  MAAS
5  evren   66   220