In [1]:
import pandas as pd

In [2]:
dictionary = {"İsim" : ("Enes" , "Alper" , "Eren" , "Furkan" , "Muhammed" , "Emirhan" , "Ali"),
              "Yas" :(19 , 20 , 21 , 19 , 19 , 22 , 18),
               "Maas" : (1750 , 1700 , 1000 , 1250 , 1400 , 750 , 1500) }

DataFrame1 = pd.DataFrame(dictionary)

head = DataFrame1.head() 
tail = DataFrame1.tail()

In [3]:
print("DataFrame ==>\n " , DataFrame1)

DataFrame ==>
         İsim  Yas  Maas
0      Enes   19  1750
1     Alper   20  1700
2      Eren   21  1000
3    Furkan   19  1250
4  Muhammed   19  1400
5   Emirhan   22   750
6       Ali   18  1500

In [4]:
print("Bastan 5 satir ==>\n " , DataFrame1.head)

Bastan 5 satir ==>
  <bound method NDFrame.head of        İsim  Yas  Maas
0      Enes   19  1750
1     Alper   20  1700
2      Eren   21  1000
3    Furkan   19  1250
4  Muhammed   19  1400
5   Emirhan   22   750
6       Ali   18  1500>

In [5]:
print("Sondan 5 satir ==>\n " , DataFrame1.tail)

Sondan 5 satir ==>
  <bound method NDFrame.tail of        İsim  Yas  Maas
0      Enes   19  1750
1     Alper   20  1700
2      Eren   21  1000
3    Furkan   19  1250
4  Muhammed   19  1400
5   Emirhan   22   750
6       Ali   18  1500>

In [6]:
print("Bastan 6 satir ==>\n " , DataFrame1.head(6))

Bastan 6 satir ==>
         İsim  Yas  Maas
0      Enes   19  1750
1     Alper   20  1700
2      Eren   21  1000
3    Furkan   19  1250
4  Muhammed   19  1400
5   Emirhan   22   750

In [7]:
print(DataFrame1.columns) # sutunlarin isimlerini verir

Index(['İsim', 'Yas', 'Maas'], dtype='object')

In [8]:
print(DataFrame1.info()) #

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   İsim    7 non-null      object
 1   Yas     7 non-null      int64
 2   Maas    7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 300.0+ bytes
None

In [9]:
print(DataFrame1.dtypes)

İsim    object
Yas      int64
Maas     int64
dtype: object

In [10]:
print(DataFrame1.describe())  # numeric feature = columns (age,maas)

             Yas         Maas
count   7.000000     7.000000
mean   19.714286  1335.714286
std     1.380131   364.822201
min    18.000000   750.000000
25%    19.000000  1125.000000
50%    19.000000  1400.000000
75%    20.500000  1600.000000
max    22.000000  1750.000000